<div class="header">
  <div class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand click">DNC-Client</span>
        <p class="navbar-text">Signed in as {{userName}} <!-- <a style="margin-left: 10px" class="navbar-right click" ng-click="logout()">Log out</a> --></p>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" ng-model="newname" class="form-control" placeholder="Update pseudo">
          </div>
          <button type="submit" class="btn btn-default" ng-click="changeUserName(newname)">Update</button>
        </form>
        <form class="navbar-form navbar-right" role="search">
          <button type="button" class="btn btn-default" ng-click="putAsdisable()">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Away From Keyboard
          </button>
          <button type="button" class="btn btn-default" ng-click="logout()">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-4 scroll">
        <a ng-click="openConversation('all')" class="click"><h3>#Discussion générale</h3></a><hr>
        <h3>Utilisateurs connectés</h3>
        <div class="list-group">


          <a ng-repeat="user in users" ng-click="openConversation(user)" class="list-group-item click">{{user}}</a>
          <a ng-repeat="user in afkUsers" ng-click="openConversation(user)" class="list-group-item list-group-item-warning click">{{user}}</a>
        </div>
      </div>

      <div ui-view></div>
  </div>
</div>


<nav class="navbar navbar-default bottom" style="margin-bottom: 0">
  <br>
  <div ng-show="isGeneralConversation()" class="container-fluid">
    <textarea class="form-control" ng-model="messageToSend"></textarea><br>
    <button type="submit" class="btn btn-primary" style="float:right" ng-click="sendMessage(messageToSend)">Send</button>
  </div>

  <div ng-show="!isGeneralConversation()" class="container-fluid">
    <div ng-if="hasAccepted()">
      <textarea class="form-control" id="privateMessageId" ng-model="privateMessageToSend"></textarea><br>
      <div class="col-xs-offset-7 col-xs-4">
        <input class="form-control" id="file" type="file"/>
      </div>
      <button type="submit" class="btn btn-primary" style="float:right" ng-click="sendPrivateMessage(privateMessageToSend)">Send</button>
    </div>
    <div ng-if="!hasAccepted()">
      <button type="submit" class="btn btn-primary" ng-if="!isWaiting() && !hasBeenAsked()" style="float:right" ng-click="askToTalk()">Ask to have conversation</button>

      <button type="submit" class="btn btn-primary" ng-if="!isWaiting() && hasBeenAsked()" style="float:right" ng-click="acceptPrivateConversation()">Accept</button> <button type="submit" class="btn btn-primary" ng-if="!isWaiting() && hasBeenAsked()" style="float:right" ng-click="rejectPrivateConversation()">Reject</button>

      <button type="submit" class="btn btn-primary" ng-if="isWaiting()" disabled style="float:right">Waiting for response... :D</button>
    </div>
  </div>
  <br>
</nav>


<!-- Modal -->
<div class="modal fade" id="options" tabindex="-1" role="dialog" aria-labelledby="options" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="options">Away From Keyboard</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-xs-offset-3 col-xs-6">
            <div class="thumbnail click" ng-click="putAsEnable()">
              <img src="http://at-cdn-s01.audiotool.com/2014/06/03/documents/get_ready_get_ready_for_full_version_soon/1/cover256x256-1fce1b23587b4c61a2c81edf1e798b7b.jpg">
              <div class="caption">
                <center><h3>Get Ready To Chat Again?</h3></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>