<div class="col-xs-8 well scroll" style="margin-bottom: 0">


<div ng-show="isGeneralConversation()">
  <h4>General discussion</h4><hr>
</div>

<div ng-show="!isGeneralConversation()">
  <h4>Discussion with {{ currentConversation }}</h4><hr>
</div>

  <div ng-repeat="message in getCurrentConversation()" class="row fixrow">
    <div ng-if="message.status == 'sended'" class="bubble-right right">{{message.text}}<br><small class="right">{{message.sender}}</small></div>
    <div ng-if="message.status == 'received' && !isAskingToShare(message)" class="bubble-left left">{{message.text}}<br><small class="left">{{message.sender}}</small></div>
    <div ng-if="isAskingToShare(message)" class="bubble-left left">{{message.text}}<br>
       <button type="submit" class="btn btn-primary btn-sm" ng-click="acceptfile()">Accept file</button>
       <button type="submit" class="btn btn-primary btn-sm" ng-click="rejectfile()">Reject file</button><br>
      <small class="left">{{message.sender}}</small></div>
  </div>
</div>